version: "3.9"

services:
  # ====================================
  # Next.js (Frontend)
  # ====================================
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: nextjs_web
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    env_file:
      - .env
    command: npm run dev
    networks:
      - app-network

# ====================================
# Networks
# ====================================
networks:
  app-network:
    driver: bridge
